:host {
    flex: 3;
    @media (max-width: 700px) { 
        flex: unset;
        width: 100%;
        margin-left: 0;
    }
    .lauch-program-listing-container {
        display: flex;
        flex-wrap: wrap;
        h2 {
            margin-left: 5px;
        }
    }
}